body{
	background-image: url(fondo.png);
	background-size: cover;
}
.tra{
	font-family: Goudy Stout;
	font-size: 80px;
	color: #848484;
	animation-name: juli;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
@keyframes juli{
	0%{color: #FFFFFF;}
	25%{color: #848484;}
	50%{color: #F781F3;}
	100%{color: #D358F7;}
}
.tre{
	font-family: Edwardian Script ITC;
	font-size: 80px;
	color: #848484;
	animation-name: juli;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
.flecha{
	position: absolute;
	background-image: url(flecha.png);
	height: 110px;
	width: 1322px;
	top: 150px;
	left: 20px;
}
.tri{
	font-family: Goudy Stout;
	font-size: 50px;
	color: #848484;
	left: 500px;
	top: 250px;
}
.img{
	position: absolute;
	background-image: url(captura.png);
	height: 527px;
	width: 873px;
	top: 300px;
	left: 250px;
	border: #FA58F4 3px double;
}
.img2{
	position: absolute;
	background-image: url(captu.png);
	height: 527px;
	width: 1116px;
	top: 900px;
	left: 100px;
	border: #FA58F4 3px double;
}
.img3{
	position: absolute;
	background-image: url(capti.png);
	height: 525px;
	width: 430px;
	top: 1500px;
	left: 500px;
	border: #FA58F4 3px double;
}
.img4{
	position: absolute;
	background-image: url(capu.png);
	height: 544px;
	width: 1148px;
	top: 2100px;
	left: 100px;
	border: #FA58F4 3px double;
}
.img5{
	position: absolute;
	background-image: url(casi.png);
	height: 483px;
	width: 400px;
	top: 2700px;
	left: 500px;
	border: #FA58F4 3px double;
}
.img6{
	position: absolute;
	background-image: url(mensaje.png);
	height: 654px;
	width: 656px;
	top: 3250px;
	left: 400px;
}